.el-table {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    flex: 1;
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    font-size: 14px;
    color: #1c366a;
}

.el-table__empty-block {
    min-height: 60px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}

.el-table__empty-text {
    line-height: 60px;
    width: 50%;
    color: #909399
}

.el-table__expand-column .cell {
    padding: 0;
    text-align: center
}

.el-table__expand-icon {
    position: relative;
    cursor: pointer;
    color: #666;
    font-size: 12px;
    transition: transform .2s ease-in-out;
    height: 20px
}

.el-table__expand-icon--expanded {
    transform: rotate(90deg)
}

.el-table__expand-icon > .el-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -5px;
    margin-top: -5px
}

.el-table__expanded-cell {
    background-color: #fff
}

.el-table__expanded-cell[class*=cell] {
    padding: 20px 50px
}

.el-table__expanded-cell:hover {
    background-color: transparent !important
}

.el-table__placeholder {
    display: inline-block;
    width: 20px
}

.el-table__append-wrapper {
    overflow: hidden
}

.el-table--fit {
    border-right: 0;
    border-bottom: 0
}

.el-table--fit td.gutter, .el-table--fit th.gutter {
    border-right-width: 1px
}

.el-table--scrollable-x .el-table__body-wrapper {
    overflow-x: auto
}

.el-table--scrollable-y .el-table__body-wrapper {
    overflow-y: auto
}

.el-table thead {
    color: #797a7d;
    font-weight: 500;
}

.el-table thead.is-group th {
    background: #f5f7fa
}

.el-table td, .el-table th {
    padding: 12px 0;
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: relative;
    text-align: left
}

.el-table td.is-center, .el-table th.is-center {
    text-align: center
}

.el-table td.is-right, .el-table th.is-right {
    text-align: right
}

.el-table td.gutter, .el-table th.gutter {
    width: 15px;
    border-right-width: 0;
    border-bottom-width: 0;
    padding: 0
}

.el-table td.is-hidden > *, .el-table th.is-hidden > * {
    visibility: hidden
}

.el-table--medium td, .el-table--medium th {
    padding: 10px 0
}

.el-table--small {
    font-size: 12px
}

.el-table--small td, .el-table--small th {
    padding: 8px 0
}

.el-table--mini {
    font-size: 12px
}

.el-table--mini td, .el-table--mini th {
    padding: 6px 0
}

.el-table tr {
    background-color: #fff
}

.el-table tr input[type=checkbox] {
    margin: 0
}

.el-table td, .el-table th.is-leaf {
    border-bottom: 1px solid #ebeef5;
}

.el-table th.is-sortable {
    cursor: pointer
}

.el-table th {
    overflow: hidden;
    user-select: none;
    background-color: #fff
}

.el-table th > .cell {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%
}

.el-table th > .cell.highlight {
    color: #409eff
}

.el-table th.required > div:before {
    display: inline-block;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ff4d51;
    margin-right: 5px;
    vertical-align: middle
}

.el-table td div {
    box-sizing: border-box
}

.el-table td.gutter {
    width: 0
}

.el-table .cell {
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-all;
    line-height: 23px;
    padding-left: 10px;
    padding-right: 10px
}

.el-table .cell.el-tooltip {
    white-space: nowrap;
    min-width: 50px
}

.el-table--border, .el-table--group {
    border: 1px solid #ebeef5
}

.el-table--border:after, .el-table--group:after, .el-table:before {
    content: "";
    position: absolute;
    background-color: #ebeef5;
    z-index: 1
}

.el-table--border:after, .el-table--group:after {
    top: 0;
    right: 0;
    width: 1px;
    height: 100%
}

.el-table:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px
}

.el-table--border {
    border-right: none;
    border-bottom: none
}

.el-table--border.el-loading-parent--relative {
    border-color: transparent
}

.el-table--border td, .el-table--border th {
    border-right: 1px solid #ebeef5
}

.el-table--border td:first-child .cell, .el-table--border th:first-child .cell {
    padding-left: 10px
}

.el-table--border th, .el-table--border th.gutter:last-of-type {
    border-bottom: 1px solid #ebeef5
}

.el-table--hidden {
    visibility: hidden
}

.el-table__fixed, .el-table__fixed-right {
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .12)
}

.el-table__fixed-right:before, .el-table__fixed:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #ebeef5;
    z-index: 4
}

.el-table__fixed-right-patch {
    position: absolute;
    top: -1px;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid #ebeef5
}

.el-table__fixed-right {
    top: 0;
    left: auto;
    right: 0
}

.el-table__fixed-right .el-table__fixed-body-wrapper, .el-table__fixed-right .el-table__fixed-footer-wrapper, .el-table__fixed-right .el-table__fixed-header-wrapper {
    left: auto;
    right: 0
}

.el-table__fixed-header-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3
}

.el-table__fixed-footer-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3
}

.el-table__fixed-footer-wrapper tbody td {
    border-top: 1px solid #ebeef5;
    background-color: #f5f7fa;
    color: #606266
}

.el-table__fixed-body-wrapper {
    position: absolute;
    left: 0;
    top: 37px;
    overflow: hidden;
    z-index: 3
}

.el-table__body-wrapper, .el-table__footer-wrapper, .el-table__header-wrapper {
    width: 100%
}

.el-table__footer-wrapper {
    margin-top: -1px
}

.el-table__footer-wrapper td {
    border-top: 1px solid #ebeef5
}

.el-table__body, .el-table__footer, .el-table__header {
    table-layout: fixed;
    border-collapse: separate
}

.el-table__footer-wrapper, .el-table__header-wrapper {
    overflow: hidden
}

.el-table__footer-wrapper tbody td, .el-table__header-wrapper tbody td {
    background-color: #f5f7fa;
    color: #606266
}

.el-table__body-wrapper {
    overflow: hidden;
    position: relative
}

.el-table__body-wrapper.is-scrolling-left ~ .el-table__fixed, .el-table__body-wrapper.is-scrolling-none ~ .el-table__fixed, .el-table__body-wrapper.is-scrolling-none ~ .el-table__fixed-right, .el-table__body-wrapper.is-scrolling-right ~ .el-table__fixed-right {
    box-shadow: none
}

.el-table__body-wrapper .el-table--border.is-scrolling-right ~ .el-table__fixed-right {
    border-left: 1px solid #ebeef5
}

.el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
    border-right: 1px solid #ebeef5
}

.el-table .caret-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    height: 34px;
    width: 24px;
    vertical-align: middle;
    cursor: pointer;
    overflow: initial;
    position: relative
}

.el-table .sort-caret {
    width: 0;
    height: 0;
    border: 5px solid transparent;
    position: absolute;
    left: 7px
}

.el-table .sort-caret.ascending {
    border-bottom-color: #c0c4cc;
    top: 5px
}

.el-table .sort-caret.descending {
    border-top-color: #c0c4cc;
    bottom: 7px
}

.el-table .ascending .sort-caret.ascending {
    border-bottom-color: #409eff
}

.el-table .descending .sort-caret.descending {
    border-top-color: #409eff
}

.el-table .hidden-columns {
    visibility: hidden;
    position: absolute;
    z-index: -1
}

.el-table--striped .el-table__body tr.el-table__row--striped td {
    background: #fafafa
}

.el-table--striped .el-table__body tr.el-table__row--striped.current-row td {
    background-color: #ecf5ff
}

.el-table__body tr.hover-row.current-row > td, .el-table__body tr.hover-row.el-table__row--striped.current-row > td, .el-table__body tr.hover-row.el-table__row--striped > td, .el-table__body tr.hover-row > td {
    background-color: #f5f7fa
}

.el-table__body tr.current-row > td {
    background-color: #ecf5ff
}

.el-table__column-resize-proxy {
    position: absolute;
    left: 200px;
    top: 0;
    bottom: 0;
    width: 0;
    border-left: 1px solid #ebeef5;
    z-index: 10
}

.el-table__column-filter-trigger {
    display: inline-block;
    line-height: 34px;
    cursor: pointer
}

.el-table__column-filter-trigger i {
    color: #909399;
    font-size: 12px;
    transform: scale(.75)
}

.el-table--enable-row-transition .el-table__body td {
    transition: background-color .25s ease
}

.el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #f5f7fa
}

.el-table--fluid-height .el-table__fixed, .el-table--fluid-height .el-table__fixed-right {
    bottom: 0;
    overflow: hidden
}

.el-table [class*=el-table__row--level] .el-table__expand-icon {
    display: inline-block;
    width: 20px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    margin-right: 3px
}

.el-table-column--selection .cell {
    padding-left: 14px;
    padding-right: 14px
}

.el-table-filter {
    border: 1px solid #ebeef5;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 2px 0
}

.el-table-filter__list {
    padding: 5px 0;
    margin: 0;
    list-style: none;
    min-width: 100px
}

.el-table-filter__list-item {
    line-height: 36px;
    padding: 0 10px;
    cursor: pointer;
    font-size: 14px
}

.el-table-filter__list-item:hover {
    background-color: #ecf5ff;
    color: #66b1ff
}

.el-table-filter__list-item.is-active {
    background-color: #409eff;
    color: #fff
}

.el-table-filter__content {
    min-width: 100px
}

.el-table-filter__bottom {
    border-top: 1px solid #ebeef5;
    padding: 8px
}

.el-table-filter__bottom button {
    background: transparent;
    border: none;
    color: #606266;
    cursor: pointer;
    font-size: 13px;
    padding: 0 3px
}

.el-table-filter__bottom button:hover {
    color: #409eff
}

.el-table-filter__bottom button:focus {
    outline: none
}

.el-table-filter__bottom button.is-disabled {
    color: #c0c4cc;
    cursor: not-allowed
}

.el-table-filter__wrap {
    max-height: 280px
}

.el-table-filter__checkbox-group {
    padding: 10px
}

.el-table-filter__checkbox-group label.el-checkbox {
    display: block;
    margin-right: 5px;
    margin-bottom: 8px;
    margin-left: 5px
}

.el-table-filter__checkbox-group .el-checkbox:last-child {
    margin-bottom: 0
}

/* pagination */
.el-pagination {
    white-space: nowrap;
    padding: 2px 5px;
    color: #303133;
    font-weight: 700
}

.el-pagination:after,.el-pagination:before {
    display: table;
    content: ""
}

.el-pagination:after {
    clear: both
}

.el-pagination button,.el-pagination span:not([class*=suffix]) {
    display: inline-block;
    font-size: 13px;
    min-width: 35.5px;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    box-sizing: border-box
}

.el-pagination .el-input__inner {
    text-align: center;
    -moz-appearance: textfield;
    line-height: normal
}

.el-pagination .el-input__suffix {
    right: 0;
    transform: scale(.8)
}

.el-pagination .el-select .el-input {
    width: 100px;
    margin: 0 5px
}

.el-pagination .el-select .el-input .el-input__inner {
    padding-right: 25px;
    border-radius: 3px
}

.el-pagination button {
    border: none;
    padding: 0 6px;
    background: transparent
}

.el-pagination button:focus {
    outline: none
}

.el-pagination button:hover {
    color: #409eff
}

.el-pagination button:disabled {
    color: #c0c4cc;
    background-color: #fff;
    cursor: not-allowed
}

.el-pagination .btn-next,.el-pagination .btn-prev {
    background: 50% no-repeat;
    background-size: 16px;
    background-color: #fff;
    cursor: pointer;
    margin: 0;
    color: #303133
}

.el-pagination .btn-next .el-icon,.el-pagination .btn-prev .el-icon {
    display: block;
    font-size: 12px;
    font-weight: 700
}

.el-pagination .btn-prev {
    padding-right: 12px
}

.el-pagination .btn-next {
    padding-left: 12px
}

.el-pagination .el-pager li.disabled {
    color: #c0c4cc;
    cursor: not-allowed
}

.el-pagination--small .btn-next,.el-pagination--small .btn-prev,.el-pagination--small .el-pager li,.el-pagination--small .el-pager li.btn-quicknext,.el-pagination--small .el-pager li.btn-quickprev,.el-pagination--small .el-pager li:last-child {
    border-color: transparent;
    font-size: 12px;
    line-height: 22px;
    height: 22px;
    min-width: 22px
}

.el-pagination--small .arrow.disabled {
    visibility: hidden
}

.el-pagination--small .more:before,.el-pagination--small li.more:before {
    line-height: 24px
}

.el-pagination--small button,.el-pagination--small span:not([class*=suffix]) {
    height: 22px;
    line-height: 22px
}

.el-pagination--small .el-pagination__editor,.el-pagination--small .el-pagination__editor.el-input .el-input__inner {
    height: 22px
}

.el-pagination__sizes {
    margin: 0 10px 0 0;
    font-weight: 400;
    color: #606266
}

.el-pagination__sizes .el-input .el-input__inner {
    font-size: 13px;
    padding-left: 8px
}

.el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: #409eff
}

.el-pagination__total {
    margin-right: 10px;
    font-weight: 400;
    color: #606266
}

.el-pagination__jump {
    margin-left: 24px;
    font-weight: 400;
    color: #606266
}

.el-pagination__jump .el-input__inner {
    padding: 0 3px
}

.el-pagination__rightwrapper {
    float: right
}

.el-pagination__editor {
    line-height: 18px;
    padding: 0 2px;
    height: 28px;
    text-align: center;
    margin: 0 2px;
    box-sizing: border-box;
    border-radius: 3px
}

.el-pagination__editor.el-input {
    width: 50px
}

.el-pagination__editor.el-input .el-input__inner {
    height: 28px
}

.el-pagination__editor .el-input__inner::-webkit-inner-spin-button,.el-pagination__editor .el-input__inner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.el-pagination.is-background .btn-next,.el-pagination.is-background .btn-prev,.el-pagination.is-background .el-pager li {
    margin: 0 5px;
    background-color: #f4f4f5;
    color: #606266;
    min-width: 30px;
    border-radius: 2px
}

.el-pagination.is-background .btn-next.disabled,.el-pagination.is-background .btn-prev.disabled,.el-pagination.is-background .el-pager li.disabled {
    color: #c0c4cc
}

.el-pagination.is-background .btn-next,.el-pagination.is-background .btn-prev {
    padding: 0
}

.el-pagination.is-background .btn-next:disabled,.el-pagination.is-background .btn-prev:disabled {
    color: #c0c4cc
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #409eff
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #409eff;
    color: #fff
}

.el-pagination.is-background.el-pagination--small .btn-next,.el-pagination.is-background.el-pagination--small .btn-prev,.el-pagination.is-background.el-pagination--small .el-pager li {
    margin: 0 3px;
    min-width: 22px
}

.el-pager {
    user-select: none;
    list-style: none;
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    padding: 0;
    margin: 0
}

.el-pager .more:before {
    line-height: 30px
}

.el-pager li {
    padding: 0 4px;
    background: #fff;
    vertical-align: top;
    display: inline-block;
    font-size: 13px;
    min-width: 35.5px;
    height: 28px;
    line-height: 28px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    margin: 0
}

.el-pager li.btn-quicknext,.el-pager li.btn-quickprev {
    line-height: 28px;
    color: #303133
}

.el-pager li.btn-quicknext.disabled,.el-pager li.btn-quickprev.disabled {
    color: #c0c4cc
}

.el-pager li.btn-quicknext:hover,.el-pager li.btn-quickprev:hover {
    cursor: pointer
}

.el-pager li.active+li {
    border-left: 0
}

.el-pager li:hover {
    color: #409eff
}

.el-pager li.active {
    color: #409eff;
    cursor: default
}
